
<div class="margin20">
  print {{myvalue}}
</div>

<div class="margin20">
  check crash : {{myobj.over?.one}}
</div>

<button (click)="setcrash()">to make app crash </button>

------------------------------------draggggg new------------------

<h3>Complete Demo</h3>
<p>This is a complete demo that features drop scopes, custom styling, disable drag/drop & drag handles.</p>
<hr>

<div class="row">

  <div class="col-sm-3">
    <div class="card card-outline-success mb-3">
      <div class="card-header card-inverse card-success">
        Draggable Items
      </div>
      <div class="card-block scroll-list">
        <div class="list-group">
          <li class="list-group-item list-group-item-action list-group-item-success" [draggable] *ngFor="let item of vegetables"
              [dragClass]="'active'" [dragData]="item" [dragScope]="item.type" [dragEnabled]="dragEnabled">
            {{item.name}}
          </li>
        </div>
      </div>

      <div class="card-footer">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" title="Drag Enabled" [(ngModel)]="dragEnabled">
            Drag Enabled
          </label>
        </div>
      </div>
    </div>

    <div class="card card-outline-primary mb-3">
      <div class="card-header card-inverse card-primary">Draggable Items with Handle</div>
      <div class="card-block scroll-list">
        <ul class="list-group text-center">
          <li draggable *ngFor="let item of fruits" [dragClass]="'drag-over'" [dragData]="item" class="list-group-item justify-content-between list-group-item-action"
              [dragScope]="item.type" [dragHandle]="'.drag-bar'">
            {{item.name}}
            <i #dragHandle class="drag-bar fa fa-bars fa-lg" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card card-outline-primary mb-3" droppable [dragOverClass]="'drag-target-border'" [dropScope]="'fruit'" [dragHintClass]="'drag-hint'"
         (onDrop)="onFruitDrop($event)" [dropEnabled]="fruitDropEnabled">
      <div class="card-header card-inverse card-primary">
        Drop Fruits here
      </div>
      <div class="card-block scroll-list">
        <li *ngFor="let item of droppedFruits" class="list-group-item">{{item.name}}</li>
      </div>

      <div class="card-footer">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value=""  [(ngModel)]="fruitDropEnabled">
            Drop Enabled
          </label>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="card card-outline-primary mb-3" droppable [dragOverClass]="'drag-target-border-green'" [dropScope]="'vegetable'"
         [dragHintClass]="'drag-hint'" (onDrop)="onVegetableDrop($event)">
      <div class="card-header card-inverse card-primary">Drop Vegetables here</div>
      <div class="card-block scroll-list">
        <li *ngFor="let item of droppedVegetables" class="list-group-item">{{item.name}}</li>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card card-outline-primary mb-3" droppable [dragOverClass]="'drag-target-border'" [dropScope]="['fruit', 'vegetable']"
         [dragHintClass]="'drag-hint'" (onDrop)="onAnyDrop($event)">
      <div class="card-header card-inverse card-primary">Drop Anything here</div>
      <div class="card-block scroll-list">
        <li *ngFor="let item of droppedItems" class="list-group-item">{{item.name}}</li>
      </div>
    </div>
  </div>

</div>

------------------------------------draggggg old------------------
<!--<h4>Simple sortable With Drop into recycle bin</h4>-->
<!--<div class="row">-->
  <!--<div class="col-sm-3">-->
    <!--<div class="panel panel-success">-->
      <!--<div class="panel-heading">-->
        <!--Favorite drinks-->
      <!--</div>-->
    <!--<div class="panel-body" dnd-sortable-container [sortableData]="listOne" [dropZones]="['delete-dropZone']">-->
        <!--<ul class="list-group">-->
          <!--<li *ngFor="let item of listOne; let i = index" class="list-group-item"-->
              <!--dnd-sortable [sortableIndex]="i" [dragData]="item">{{item}}</li>-->
        <!--</ul>-->
      <!--</div>-->

     <!--&lt;!&ndash; <div class="panel-body"  [dropZones]="['delete-dropZone']" dnd-droppable>-->
          <!--Recycle bin: Drag into me to delete it<br/>-->
          <!--<div class="panel-body" dnd-sortable-container [sortableData]="listOne">-->
            <!--<ul class="list-group">-->
              <!--<li *ngFor="let item of listOne; let i = index" class="list-group-item"-->
                  <!--dnd-sortable [sortableIndex]="i" [dragEnabled]="listOne.length>0">{{item}}</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>  &ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-sm-6">-->
    <!--<div class="panel panel-default">-->
      <!--<div class="panel-body"  [dropZones]="['delete-dropZone']"-->
           <!--dnd-droppable [allowDrop]="allowDropFunction1('list1')" (onDropSuccess)="addTobox1Items($event)">-->
        <!--Recycle bin: Drag into me to delete it<br/>-->
        <!--<div class="panel-body" dnd-sortable-container [sortableData]="listRecycled">-->
          <!--<ul class="list-group">-->
            <!--<li *ngFor="let item of listRecycled; let i = index" class="list-group-item"-->
                <!--dnd-sortable [sortableIndex]="i" [dragEnabled]="listRecycled.length>0">{{item}}</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-sm-6">-->
    <!--<div class="panel panel-default">-->
      <!--<div class="panel-body"  [dropZones]="['delete-dropZone']"-->
           <!--dnd-droppable [allowDrop]="allowDropFunction2('list1')" (onDropSuccess)="addTobox2Items($event)">-->
        <!--Recycle bin: Drag into me to delete it<br/>-->
        <!--<div class="panel-body" dnd-sortable-container [sortableData]="listRecycled2">-->
          <!--<ul class="list-group">-->
            <!--<li *ngFor="let item of listRecycled2; let i = index" class="list-group-item"-->
                <!--dnd-sortable [sortableIndex]="i" [dragEnabled]="listRecycled2.length>0">{{item}}</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

